@use "config.scss";

.inner {
	margin: auto;
	max-width: 1080px;
}

.wAuto { width: auto!important; }
.wHarf { width: 45%!important; }
.wMax { width: 100%!important; }
.w25 { width: 25px!important; }
.w40 { width: 40px!important; }
.w60 { width: 60px!important; }
.w80 { width: 80px!important; }
.w85 { width: 85px!important; }
.w100 { width: 100px!important; }
.w120 { width: 120px!important; }
.w140 { width: 140px!important; }
.w160 { width: 160px!important; }
.w200 { width: 200px!important; }
.w240 { width: 240px!important; }
.w280 { width: 280px!important; }
.w300 { width: 300px!important; }
.w400 { width: 400px!important; }

.small {
	font-size: 12px!important;
}
.middle {
	font-size: 16px!important;
}
.large {
	font-size: 20px!important;
}

.none {
	display: none!important;
}

.flex {
	display: flex!important;
	align-items: center!important;
}

.square40 {
	width: 40px!important;
	height: 40px!important;
}
.square120 {
	width: 120px!important;
	height: 120px!important;
}
.square240 {
	width: 240px!important;
	height: 240px!important;
}

.status {
	position: relative;
	top: -1px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 8px;
}
.status0 { background: #5dbf07; }
.status1 { background: #dd3437; }
.status2 { background: #078EBF; }
.status3 { background: #de6e9f; }
.status4 { background: #bf8507; }
.status5 { background: #4107bf; }
.status6 { background: #bf7f07; }
.status9 { background: #999999; }

.asc {
	&::after {
		position: absolute;
		right: 4px;
		content: "▲";
	}
}
.desc {
	&::after {
		position: absolute;
		right: 4px;
		content: "▼";
	}
}

.loading_overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	text-align: center;
	overflow: hidden;
	z-index: 9998;
	width: 100%;
	height: 100%;
	background: #00000020;
}
.loading {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	text-align: center;
	overflow: hidden;
	z-index: 9999;
}

.inputFile {
	display: none;
}

.edit {
	svg {
		fill: #7bbfd7!important;
	}
}

.update {
	td {
		background: #adf499!important;
	}
}

.checkbox {
	cursor: pointer;
	display: block;
	width: 100%;
	input[type="checkbox"] {
		position: absolute;
		visibility: hidden;
		&:checked + span {
			color: #000;
		}
		&:checked + span {
			background: #9293af!important;
			color: #fff!important;
		}
	}
	span {
		background: #fff;
		border: 1px solid #aaa;
		border-radius: 4px;
		padding: 3px 6px;
		transition: all 0.3s;
	}
}

.form_select {
	background: #fff;
}

.actionBtn {
	display: inline-block;
	text-decoration: none;
	color: config.$fontColor;
	height: 30px;
	padding: 4px 8px;
	margin: auto 8px;
	background: none;
	border: none;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
}

.file {
	&.circle {
		.previewImage {
			border-radius: 50%;
		}
	}
	&.card {
		display: block;
		width: 200px;
		height: 150px;
	}
	&.full {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
	}
}

.previewImage {
	position: relative;
	width: 100px;
	height: 100px;
	overflow: hidden;
	box-shadow: 1px 1px 2px #888;
	margin: auto;
	cursor: pointer;
	img {
		position: absolute!important;
		top: 50%!important;
		left: 50%!important;
		transform: translate(-50%, -50%);
		margin: auto;
		max-width: 100%;
		max-height: 100%;
	}
}

.previewBackImage {
	position: relative;
	aspect-ratio: 4 / 3;
	> div {
		position: absolute!important;
		top: 50%!important;
		left: 50%!important;
		transform: translate(-50%, -50%);
		margin: auto;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
	}
}

.inputBox {
	position: relative;
	display: inline-block;
	padding: 0 4px;
	border: 1px solid #aaa !important;
	border-radius: 4px;
	min-width: 40px;
	height: 28px;
	input {
		border: none;
		&:active,
		&:focus {
			border: none;
			outline: none;
		}
	}
	&.required {
		border: 1px solid #2432cf!important;
	}
}

.selectBox {
	position: relative;
	display: inline-block;
	padding: 0 4px;
	border: 1px solid #aaa!important;
	border-radius: 4px;
	min-width: 40px;
	height: 28px;
	select {
		display: block;
		height: 100%;
		border: none;
		&:active,
		&:focus {
			border: none;
			outline: none;
		}
	}
}

.err {
	position: absolute;
	top: -34px;
	left: 0px;
	font-size: .6em;
	color: #8d2a2a;
	background: #ecec67;
	max-width: 300px;
	border-radius: 4px;
	white-space: nowrap;
	line-height: 18px;
	width: auto;
	padding: 2px 8px;
	z-index: 1;
	&:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -40%;
		border: 10px solid rgba(0,0,0,0);
		border-top: 10px solid #ecec67;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}