@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Noto Sans JP', sans-serif;
	> #__next {
		height: 100%;
	}
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.index {
  position: relative;
  z-index: 1;
  height: 100%;
  h1, h2 {
    padding: 0;
    margin: 0;
  }
  h1 {
    height: 60px;
    line-height: 60px;
    background: #111;
    color: #fff;
    font-size: 1.5em;
    padding: 0 1em;
  }
  h2 {
    height: 30px;
    line-height: 30px;
    font-size: 1.1em;
  }
  .contents {
    height: calc(100% - 76px);
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 10px;
		grid-column-gap: 10px;
		padding: 8px;
		place-content: center;
    li {
      border: 1px solid #111;
      padding: 3em 1em;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      &:hover {
        background: #eee;
        transition: .3s;
      }
    }
  }
}