.itemBox {
  display: flex;
  overflow-x: scroll;
  height: 366px;
  .item {
    min-width: 280px;
    width: 50%;
    height: 320px;
    margin: 1em;
    border-radius: 12px;
    overflow: hidden;
    background: #eee;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 3px 3px rgba(30, 0, 155, 0.5);
      transition: .3s;
    }
  }
  .name {
    height: 29px;
    line-height: 29px;
    margin: 0 auto;
    padding: 8px 12px;
    border-bottom: 1px solid #111;
    color: #eee;
    background: #aaa;
    text-shadow: 0 0 1px #fff;
    letter-spacing: 1px;
    .no {
      margin-right: 0.4em;
    }
  }
  .canvas {
    width: 100%;
    height: calc(100% - 30px - 16px - 40px);
  }
  .description {
    height: 39px;
    line-height: 2em;
    border-top: 1px solid #aaa;
    padding: 0 12px;
  }
}